* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-header: hsl(218, 17%, 62%);
  --bg-title: hsl(275, 18%, 79%);
  --bg-wrapper: hsl(233, 100%, 97%);
  --bg-span: hsl(312, 91%, 96%);


  --font-body: 'Palanquin', sans-serif;
  --font-title: 'Staatliches', cursive;

  --tc-text: hsl(274, 84%, 12%);
  --tc-span: hsl(232, 17%, 35%);
}

body {
  width: 100%;
  font-family: var(--font-body);
}

header {
  width: 384px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-header);
  padding-bottom: 2.9rem;
}

.logo {
  margin: 3.2rem auto;
}

.title {
  background-color: var(--bg-title);
  font-family: var(--bg-header);
  height: 4.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  text-transform: uppercase;
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;

  letter-spacing: 0.05em;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}

header p {
  display: none;
}

main {
  padding: 1.4rem 3.2rem 2.4rem;
  margin: 0 auto;
  background-color: var(--bg-wrapper);
  width: 38.4rem;
  display: flex;
  flex-direction: column;
}

.wrapper p {
  width: 30.5rem;
  /* height: 7.5rem; */
  
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1.5rem;
  
  text-align: center;

  color: var(--tc-text);
  margin: 0 auto 6.3rem;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.col-2 .box:nth-child(1){
  order: 2;
}

.box {
  position: relative;
  animation: downtop 0.8s ease forwards;
}

.box:hover {
  cursor: pointer;
}

.box img {
  transition: all 0.5s ease;
  border-radius: 2rem;
  margin-bottom: 3.6rem;
  filter: brightness(0.5);
}

.box img:hover {
  transform: scale(1.1);
  filter: brightness(1);

}

.box span {
  animation: topdown 1s 0.3s ease forwards;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-family: var(--bg-title);
  color: var(--tc-span);
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05rem;

  background-color: var(--bg-span);
  border-radius: 2rem;
  
  padding: 1px 2.4rem;
  opacity: 0;
  transform: translateY(-20px);
}

footer {
  display: none;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    margin: 0 auto;
    width: 100%;
  }

  .title {
    margin: 0 auto;
    width: 50rem;
    height: 7rem;
    border-radius: 8px ;
  }

  header p {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    margin: 4.2rem auto 0;
    width: 65rem;
  }
  
  .content {
    margin: 6.4rem auto 4.6rem;
  }
  
  main {
    width: inherit;
    background-color: #FFFFFF;
    padding: 0;
    width: 100%;
    margin-bottom: 5rem;
  }

  main p {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-areas: "A B";
    gap: 3.2rem;
  }

  .col-1, .col-2, .col-3 {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .wrapper img {
    margin: 0;
  }

  .wrapper .col-1:nth-child(1) {
    grid-area: A;
  }
  
  .wrapper .col-2:nth-child(2) {
    grid-area: B;
  }

  .wrapper .col-3:nth-child(3) {
    grid-area: A;
  }

  .wrapper .col-2 {
    display: flex;
    flex-direction: column;
  }
  
  .wrapper .col-2 .box:nth-child(1){
    order: 1;
  }
  
  .wrapper .col-2 .box:nth-child(2){
    order: 2;
  }

  footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin: 0 auto 4.6rem;
  }

  footer p {
    font-style: normal;
    font-weight: 400;
  }

  footer a {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
}


@media (min-width: 1100px) {

  header p {
    width: 100rem;
  }

  .wrapper {
    grid-template-areas: "A B C";
  }

  .wrapper .col-3:nth-child(3) {
    grid-area: C;
  }

}

@media (min-width: 1540px) {
  body {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  header {
    width: 37.7rem;
    margin: 0;
  }

  .title {
    width: 100%;
    border-radius: 0;
  }

  header p {
    width: 27.5rem;
    margin: 4.2rem 5rem 0;
  }

}